@model FinalProject.MVC.Models.Table

@{
    ViewData["Title"] = "Table Details";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seat)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserved)
        </dt>
        <dd class="col-sm-10">
            <span class="badge @(Model.Reserved ? "bg-danger" : "bg-success")">
                @(Model.Reserved ? "Reserved" : "Available")
            </span>
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>